<nav class="navbar navbar-expand-lg fixed-top" style="background-color: black;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/LOGo (2).svg" id="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a  href="#">Home</a>
          </li>
          <li class="nav-item">
          <a  href="#">Skills</a>
        </li>   
        <li class="nav-item">
          <a  href="#">Proyectos</a>
        </li>
        <li class="nav-item">
          <a  href="#">Contacto</a>
        </li>    
      </ul>
    </div>
      <div class="collapse navbar-collapse redes" id="navbarSupportedContent">
        <section>
          <a href="https://www.facebook.com/Floo.vega15" target="_blank"><img src="../../../assets/facebook (1).png"></a>
          <a href="https://www.instagram.com/florrayenkutral/" target="_blank"><img src="../../../assets/instagram.png"></a>
          <a href="https://github.com/RayenKutral" target="_blank"><img src="../../../assets/github.png"></a>
                </section>
      </div>
    
  </div>
</nav>